[run]
omit =
    epipack/tests/vis.py
    epipack/tests/SIR_weighted.py
    epipack/vis.py
    epipack/matplotlib.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    if __name__ == .__main__.:
